In [1]:
import pandas as pd

# loading webscrapped csv one by one and cleaning them 
### also merging the "n_sold_units" from the csv

first the "beauty" category

In [2]:
#loading and merging
df_amzn_beauty = pd.read_csv("amazon_BEAUTY.csv")
df_beauty_su = pd.read_csv("Beauty - Sheet1.csv")
df1 = pd.concat([df_amzn_beauty,df_beauty_su], axis=1)

#cleaning
df1 = df1.drop(["Unnamed: 0"],axis=1)
df1["price"] = df1["price"].str.replace("€", "").astype(float)
df1["review"] = df1["review"].str.replace(',', '')
df1["n_sold_units"] = df1["n_sold_units"].str.replace(',', '').str.replace('+', '').str.replace('K', '000').astype(int)

# renaming columns, assigning store id & category _id, re-ordering the columns
df1 = df1.rename(columns={"review": "n_reviews"})
df1["store_id"] = 1
df1["category_id"] = 1
df1 = df1[['store_id', 'category_id', 'title', 'price', 'n_reviews', 'n_sold_units']]
df1

,store_id,category_id,title,price,n_reviews,n_sold_units
0,1,1,Ninabella Organic Hair Brush without Pulling f...,6.79,43863,10000
1,1,1,Old Spice Captain 3-in-1 Shower Gel & Shampoo ...,7.62,2417,600
2,1,1,Maybelline New York Black Mascara for Extremel...,8.25,42449,5000
3,1,1,CeraVe Deep Pore Cleansing for the Face,12.29,17440,4000
4,1,1,Wella Professionals Color Fresh Mask - Hair Tr...,11.90,16574,9000
...,...,...,...,...,...,...
95,1,1,Rexona Max Protection,5.45,8405,2000
96,1,1,American Crew Forming Cream for Men Pack of 1x...,10.53,16960,3000
97,1,1,Wella Eimi Extra Volume,9.90,3917,800
98,1,1,Mixa Urea Skin Renewing Cream with Urea & Niac...,6.49,3523,800
99,1,1,4x Golecha 100% Natural Henna Paste Cones (Red...,5.00,2168,0

second the "clothing" category

In [3]:
#loading and merging
df_amzn_fashion = pd.read_csv("amazon_FASHION.csv")
df_fashion_su = pd.read_csv("Clothing - Sheet1.csv")
df2 = pd.concat([df_amzn_fashion,df_fashion_su], axis=1)

#cleaning
df2 = df2.drop(["Unnamed: 0"],axis=1)
df2["price"] = df2["price"].str.replace("€", "").astype(float)
df2["review"] = df2["review"].str.replace(',', '')
df2["n_sold_units"] = df2["n_sold_units"].str.replace(',', '').str.replace('+', '').str.replace('K', '000').astype(int)

# renaming columns, assigning store id & category _id, re-ordering the columns
df2 = df2.rename(columns={"review": "n_reviews"})
df2["store_id"] = 1
df2["category_id"] = 2
df2 = df2[['store_id', 'category_id', 'title', 'price', 'n_reviews', 'n_sold_units']]
df2

,store_id,category_id,title,price,n_reviews,n_sold_units
0,1,2,"PUMA Boxer Shorts, Pack of 6, Men's Basic Blac...",29.99,40771,1000
1,1,2,adidas Unisex Adilette Aqua Slides Slide Sandals,16.99,55783,1000
2,1,2,"Lico Children's G 1 Style Gymnastics Shoes, Un...",14.95,12700,200
3,1,2,"QINCAO Men's Boxer Shorts, Pack of 6, Men's Un...",19.99,30263,400
4,1,2,Lico Unisex Children's Bernie V Indoor Trainer...,14.50,17531,700
...,...,...,...,...,...,...
95,1,2,PUMA Unisex Children's Teamrise Jersey Jr Shirt,9.22,2097,300
96,1,2,"Danfiki Men's Swimming Trunks, Quick-Drying Sw...",16.09,2696,50
97,1,2,Lico Sport Vs Unisex Children's Indoor Trainers,27.99,1928,900
98,1,2,"Under Armour Men’s UA HG Armour Comp SS, Short...",21.95,9727,300
99,1,2,Crocs Unisex Crocband Clogs,39.88,188799,200

third the "electronics" category

In [4]:
#loading and merging
df_amzn_electronics = pd.read_csv("amazon_ELECTRONICS.csv")
df_electronics_su = pd.read_csv("Electronics - Sheet1.csv")
df3 = pd.concat([df_amzn_electronics,df_electronics_su], axis=1)

#cleaning
df3 = df3.drop(["Unnamed: 0"],axis=1)
df3["price"] = df3["price"].str.replace("€", "").astype(float)
df3["review"] = df3["review"].str.replace(',', '')
df3["n_sold_units"] = df3["n_sold_units"].str.replace(',', '').str.replace('+', '').str.replace('K', '000').astype(int)

# renaming columns, assigning store id & category _id, re-ordering the columns
df3 = df3.rename(columns={"review": "n_reviews"})
df3["store_id"] = 1
df3["category_id"] = 3
df3 = df3[['store_id', 'category_id', 'title', 'price', 'n_reviews', 'n_sold_units']]
df3

,store_id,category_id,title,price,n_reviews,n_sold_units
0,1,3,amazon basics High Performance 1.5 V AAA Alkal...,7.98,1503175,5000
1,1,3,"NEW'C 3 Stück, Panzer Schutz Glas für iPhone 1...",6.95,77543,5000
2,1,3,"Amazon Fire TV Stick, Alexa Voice Remote, TV c...",29.99,130643,5000
3,1,3,Apple AirTag,32.33,114683,5000
4,1,3,Duracell Specialty 2032 Lithium Button Batteri...,4.79,274726,5000
...,...,...,...,...,...,...
95,1,3,Varta Batteries Electronics CR2025 Lithium But...,5.87,24125,2000
96,1,3,"LiCB Pack of 20 LR1130 button cells, AG10 L113...",5.12,5550,0
97,1,3,Varta battery,6.02,19737,5000
98,1,3,"VARTA Button Cell Batteries, Pack of 2 in Orig...",4.64,5451,5000
99,1,3,LK 6 Stück Schutzfolie für Apple Watch Series ...,10.99,66146,4000

fourth the "Home & Kitchen" category

In [5]:
#loading and merging
df_amzn_home = pd.read_csv("amazon_HOME_&_kitchen.csv")
df_home_su = pd.read_csv("Home & Kitchen - Sheet1.csv")
df4 = pd.concat([df_amzn_home,df_home_su], axis=1)

#cleaning
df4 = df4.drop(["Unnamed: 0"],axis=1)
df4["price"] = df4["price"].str.replace("€", "").astype(float)
df4["review"] = df4["review"].str.replace(',', '')
df4["n_sold_units"] = df4["n_sold_units"].str.replace(',', '').str.replace('+', '').str.replace('K', '000').astype(int)

# renaming columns, assigning store id & category _id, re-ordering the columns
df4 = df4.rename(columns={"review": "n_reviews"})
df4["store_id"] = 1
df4["category_id"] = 4
df4 = df4[['store_id', 'category_id', 'title', 'price', 'n_reviews', 'n_sold_units']]
df4

,store_id,category_id,title,price,n_reviews,n_sold_units
0,1,4,Utopia Bedding Brushed Microfibre Deep Fitted ...,8.67,78298,4000
1,1,4,Buymax Fitted Sheet 140 x 200 cm Cotton 100% J...,15.99,23194,1000
2,1,4,JURA Original - Claris Smart+ Filter Cartridge...,39.99,6392,6000
3,1,4,no title,0.00,0,20000
4,1,4,De'Longhi Original EcoDecalk DLSC500 Descaler ...,8.99,134456,10000
...,...,...,...,...,...,...
95,1,4,BonAura® AirOne Dehumidifier without Electrici...,19.90,1498,1000
96,1,4,Bialetti New Venus Espresso Maker,27.99,45495,5000
97,1,4,Mepal Midi Lunch Box - Lunch Box To Go - Lunch...,8.99,740,4000
98,1,4,"Philips Essential Airfryer XL - 6.2 L, 1.2 Kg,...",109.00,24555,2000
99,1,4,"Utopia Bedding, Set of 2 Fitted Sheets, 90 x 2...",16.99,4318,1000

fifth the "Toys & Games" category

In [26]:
#loading and merging
df_amzn_toys = pd.read_csv("amazon_TOYS_&_GAMES.csv")
df_toys_su = pd.read_csv("Toys & Games - Sheet1.csv")
df5 = pd.concat([df_amzn_toys,df_toys_su], axis=1)

#cleaning
df5 = df5.drop(["Unnamed: 0"],axis=1)
df5 = df5.drop_duplicates().dropna(how='any')
df5["price"] = df5["price"].str.replace("€", "").astype(float)
df5["review"] = df5["review"].str.replace(',', '')
df5["n_sold_units"] = df5["n_sold_units"].str.replace(',', '').str.replace('+', '').str.replace('K', '000').astype(int)

# renaming columns, assigning store id & category _id, re-ordering the columns
df5 = df5.rename(columns={"review": "n_reviews"})
df5["store_id"] = 1
df5["category_id"] = 5
df5 = df5[['store_id', 'category_id', 'title', 'price', 'n_reviews', 'n_sold_units']]
df5

,store_id,category_id,title,price,n_reviews,n_sold_units
0,1,5,melu kids® Children's Name Stickers for School...,9.99,3830,10000
1,1,5,LILA LIEBT DICH 100 Skin-friendly Children's T...,0.00,2310,0
2,1,5,LEGO Star Wars Captain Rex Y-Wing Microfighter...,7.19,406,1000
3,1,5,Play-Doh A7924EUC Super Colour Set (20 Pack) P...,12.99,75099,1000
4,1,5,"IJIAMY Children's Lunch Box with Compartments,...",15.99,793,3000
...,...,...,...,...,...,...
75,1,5,Schmidt “Noch Mal” Game 49327,8.69,7752,2000
76,1,5,"HERMA Adhesive Labels, 5er Set",6.41,854,700
77,1,5,My Vesperbox Jin Bento Box Children's Lunch Bo...,16.86,216,4000
78,1,5,no title,3.99,0,2000
79,1,5,"Kinetic Sand Purple For Indoor Play, brown",9.59,35661,2000

## The Master dataframe for AMAZON

In [27]:
#merging the datasets and converting to a final csv for merging with other online stores and analysis later
df_amazon_final = pd.concat([df1,df2,df3,df4,df5], axis=0)
df_amazon_final.reset_index(drop=True, inplace=True)

df_amazon_final.to_csv("amazon_ALLDATA.csv")

In [28]:
df_amazon_final

,store_id,category_id,title,price,n_reviews,n_sold_units
0,1,1,Ninabella Organic Hair Brush without Pulling f...,6.79,43863,10000
1,1,1,Old Spice Captain 3-in-1 Shower Gel & Shampoo ...,7.62,2417,600
2,1,1,Maybelline New York Black Mascara for Extremel...,8.25,42449,5000
3,1,1,CeraVe Deep Pore Cleansing for the Face,12.29,17440,4000
4,1,1,Wella Professionals Color Fresh Mask - Hair Tr...,11.90,16574,9000
...,...,...,...,...,...,...
475,1,5,Schmidt “Noch Mal” Game 49327,8.69,7752,2000
476,1,5,"HERMA Adhesive Labels, 5er Set",6.41,854,700
477,1,5,My Vesperbox Jin Bento Box Children's Lunch Bo...,16.86,216,4000
478,1,5,no title,3.99,0,2000
479,1,5,"Kinetic Sand Purple For Indoor Play, brown",9.59,35661,2000

created two csv file for store names and category names with their ID's

In [ ]:
df_store = pd.read_csv("online_stores_names&ID.csv")
df_store

   store_id   store_name
0         1       Amazon
1         2  Ali Express
2         3         Temu

In [ ]:
df_category = pd.read_csv("category_names&ID.csv")
df_category.reset_index(drop=True)

   category_id                 category_name
0            1        Beauty & Personal Care
1            2  Clothing / Fashion & Apparel
2            3                   Electronics
3            4                Home & Kitchen
4            5                  Toys & Games